

@font-face {
	font-family: 'MyFont';
	src: url(/Users/rlcl-225/Desktop/portfolio/fonts/Jaldi/Jaldi-Regular.ttf);
}


html{
  height: 100%;
  width: 100%;
}

header{
  background-color: #ffffcc;
  text-align: center;
}

body{
  height: 100%;
  width: 100%;
  font-family: 'MyFont';
}


.Main{
  background-color: #ffffcc;
  height: 100%;
  width: 100%;
  text-align: center;
}


#canvas{
  height: 80%;
  width: 80%;

}

.container{
  height: 20%;

}

.btn-shine {

  top: 25%;
  vertical-align: middle;
  font-family: 'MyFont';
  color: black;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn-shine:hover {
  border-color: black;
  outline-color: transparent;
  outline-offset: 10px;
  transform: translateY(-10px);


}
